@import './sass/variables.scss';

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  background: rgba(#202020, .3);
  backdrop-filter: blur(10px);
  z-index: 1000px;
}

.container-pomodoro {
  width: 100%;
  max-width: 300px;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center;
  background-color: $bg-color;
  box-shadow: 3px 4px 7px rgba(#000, .7), 4px 5px 10px rgba(#000, .5);
  z-index: 2000;
}
/*--- Header ---*/
.header-index {
  height: $height-header;
  .title {
    font-family: $fonts-main;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
